.buyer-worker-hover-container {
  width: 382px;
  height: 154px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.buyer-worker-hover-component23 {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.buyer-worker-hover-rectangle10 {
  top: 0px;
  left: 0px;
  width: 376px;
  height: 72px;
  position: absolute;
  border-color: rgba(41, 121, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px 20px 0 0;
}
.buyer-worker-hover-text {
  top: 25px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 376px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.buyer-worker-hover-component24 {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.buyer-worker-hover-rectangle11 {
  top: 0px;
  left: 0px;
  width: 376px;
  height: 72px;
  position: absolute;
  border-color: rgba(41, 121, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 20px 20px;
}
.buyer-worker-hover-text2 {
  top: 20px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 376px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
