<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="desktop1Wrapper">
      <div class="rectangle1"></div>
      <img class="logoNoBackground1" src="./img/img.png" />
      <div class="component3">
        <div class="rectangle3"></div>
        <img class="imageZero" src="./img/Vector.svg" />
        <img class="imageOne" src="./img/Vector-1.svg" />
      </div>
      <div class="viewZero">
        <div class="rectangle2">
        <p class="becomeSitter">Become sitter</p>
    </div>
      </div>
    </div>
  </body>
</html>