version: '2.1'

orbs:
  java-maven: whoop/java-maven@1.0.12
  node: radar/node@1.2.0

jobs:
  buildBackEnd:
    executor:
      name: java-maven/java11
    steps:
      - checkout
      - java-maven/resolve-dependencies
      - java-maven/build-and-test
    
  buildFrontEnd:
    executor: node/default
      steps:
        - checkout
        - node/install
        - node/build


workflows:
  build: 
    jobs: 
      - buildBackEnd
      - buildFrontEnd
      