version: '2.1'

orbs:
  heroku: circleci/heroku@2.0.0
  java-maven: whoop/java-maven@1.0.12

jobs:
  build:
    executor:
      name: java-maven/java11
    steps:
      - checkout
      - java-maven/resolve-dependencies
      - java-maven/build-and-test
  deploy:
    executor: heroku/default
    steps:
      - heroku/install
      - run: heroku login
      - heroku/deploy-via-git



workflows:
  build:
    jobs: 
      - build
      - deploy