version: '2.1'

orbs:
  java-maven: whoop/java-maven@1.0.12
  node: circleci/node@5.0.3

jobs:
  buildBackEnd:
    executor:
      name: java-maven/java11
    steps:
      - checkout
      - java-maven/resolve-dependencies
      - java-maven/build-and-test
  run:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install
      - run:
          name: Cancel build after set time
          background: true
          command: |
            sleep 10
            echo "Canceling workflow as too much time has elapsed"
            curl -X POST --header "Content-Type: application/json" "https://circleci.com/api/v2/workflow/${CIRCLE_WORKFLOW_ID}/cancel?circle-token=7cceab2e170da6762e7b2351937d50338c0edc45" 
      - run: node . 

workflows:
  build: 
    jobs: 
      - buildBackEnd
      - run

      