version: '2.1'

orbs:
  heroku: circleci/heroku@2.0.0
  java-maven: whoop/java-maven@1.0.12

jobs:
  deploy:
    executor: heroku/default
    steps:
      - heroku/install
      - run: heroku login
      - heroku/deploy-via-git
  build:
    executor: java-maven/whoop
    steps:
      - checkout
      - java-maven/resolve-dependencies
      - java-maven/build-and-test


workflows:
  build:
    jobs:
      - build

  deplopy:
    jobs:
      - deploy 
